@font-face {
  font-family: 'DidactGothic';
  src: url('../font/DidactGothic.eot');
  src: url('../font/DidactGothic.woff2') format('woff2'),
       url('../font/DidactGothic.woff') format('woff'),
       url('../font/DidactGothic.ttf') format('truetype'),
       url('../font/DidactGothic.svg#DidactGothic') format('svg'),
       url('../font/DidactGothic.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}



