$mainTextColor: #ffffff;
// $mainBackgroundColor: #22819F;
$mainColor : #94F3D3;
$mainColor2 : #3c3b53;
$liteMainColor2 : #8c8abd;
$darkBlue : #003768;

$liteFont : QuicksandLight;
$regularFont : QuicksandRegular;
$boldFont : QuicksandBold;

@keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
@-webkit-keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
@-moz-keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}

a
{
	text-decoration: none;
}

#headerPage
{
	width:100%;
	height: 100vh;
	display: table;
	top: 0px;
	left: 0px;
	background-position: center center;
	background-size: cover;
	background-image: url('/static/image/header.jpg');
	.box
	{
		display:table-cell;
		vertical-align: bottom;
		text-align: center;
		padding-bottom: 1rem;
		a.arrow
		{
			font-family: fontello;
			font-size: 2rem;
			text-align: center;
			color: #ffffff;
			-webkit-animation: blink 2s infinite;
			-moz-animation: blink 2s infinite;
			animation: blink 2s infinite;
		}
	}
}
body
{
	background-color: $mainColor;
}
#mainPlate
{
	top: 100vh;
	width: 100%;
	left: 0px;
	background-color: rgba(0, 59, 83, 0.8);
}
#backgroundPlate
{
	z-index: -1;
	position: fixed;
	bottom: 0px;
	left: 0px;
	width: 100%;
	height: 100vh;
	background-repeat: no-repeat;
	background-position: bottom left;
	
	background-image: url('/static/image/mainBackground.png');
	background-size: 60vw;
}
.parentPlate
{
	.title
	{
		color: $mainTextColor;
		font-family: $regularFont;
		text-align: center;
		font-size: 2.4rem;
		margin-top: 2.5rem;
		margin-bottom: 3rem;
	}
}

#introduction
{
	background-color: rgba(0, 59, 83, 0.7);
	.box
	{
		width: 70%;
		margin-bottom: 2rem;
		img
		{
			width: 60%;
		}
		.text
		{
			text-align: justify;
			direction: ltr;
			color: $mainTextColor;
			font-family: $regularFont;
		}
	}
}

#quotes
{
	background-color: rgba(0, 59, 83, 0.9);
	height: 1000px;
	.quoteBox
	{
		height: 6rem;
	}
	.box
	{
		height: 10rem;
		width: 100%;
		display: table;
		
		.avatarBox
		{
			display: table-cell;
			vertical-align:middle;
			.avatar
			{
				margin: 0 auto;
				border: 5px solid $liteMainColor2;
				width: 6rem;
				height: 6rem;
				background-position: center center;
				background-size: cover;
				border-radius: 50%;
				cursor: pointer;
				-webkit-transition:0.3s ease all;
			     -moz-transition:0.3s ease all;
			      -ms-transition:0.3s ease all;
			       -o-transition:0.3s ease all;
			          transition:0.3s ease all;
			}
			.avatar:hover
			{
				
				width: 8rem;
				height: 8rem;
				-webkit-transition:0.3s ease all;
			     -moz-transition:0.3s ease all;
			      -ms-transition:0.3s ease all;
			       -o-transition:0.3s ease all;
			          transition:0.3s ease all;
			}
			
		}
		
		&.right
		{
			text-align: left;
		}
	}
	
}