

$mainTextColor: #ffffff;
$mainColor : #94F3D3;
$mainColor2 : #3c3b53;
$liteMainColor2 : #41a1ca;
$darkBlue : #0B3C53;

$mainFont: IRANSans;


.parentPlate
{
  .title
  {
    color: $mainTextColor;
    font-family: $mainFont;
    font-weight: 400;
    text-align: center;
    font-size: 2.4rem;
    margin-top: 2.5rem;
    margin-bottom: 3rem;
  }
}

#introduction
{
  background-color: rgba(0, 59, 83, 0.7);
  .box
  {
    width: 70%;
    margin: 0 auto;
    margin-bottom: 2rem;
    img
    {
      margin-left: 40%;
    }
    .text
    {
      text-align: justify;
      direction: rtl;
      color: $mainTextColor;
      font-family: $mainFont;
    }
  }
}


.speechBubble
{
  p
  {
    direction: rtl;
    font-family: $mainFont;
  }
}

.langButton
{
  font-family: $mainFont;
  left: 3rem;
  right: auto;
}
.menuPlate
{
  position: fixed;
  right: 0px;
  left: auto;
  bottom: 0px;
  tr
  {
    td
    {
      padding-left: 0rem;
      padding-right: 2rem;
      .menuItem
      {
        p
        {
          color: $mainTextColor;
          text-align: center;
          margin: 0px;
          font-family: $mainFont;
        }
      }
      .menuItem.english
      {
        p
        {
          font-family: DidactGothic;
        }
      }
    }
  }
}

#headerPage
{
  .box
  {
    .title
    {
      font-family: $mainFont;
    }
  }
}